<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx  
http://www.springframework.org/schema/tx/spring-tx.xsd">


	<context:component-scan base-package="br.ufc.TrabalhoFBD.DAO.impl" />
	<context:component-scan base-package="br.ufc.TrabalhoFBD.controller" />
	<context:component-scan base-package="br.ufc.TrabalhoFBD.model" />
	<mvc:annotation-driven />
	<mvc:interceptors>
		<bean class="br.ufc.TrabalhoFBD.interceptor.InterceptadorGeral"/>
	</mvc:interceptors>
 
 <bean id="usuarioDAO" class="br.ufc.TrabalhoFBD.DAO.impl.UsuarioDAOImpl" />
 <bean id="mensagemUDAO" class="br.ufc.TrabalhoFBD.DAO.impl.MensagemUsuarioDAOImpl" />
 <bean id="grupoDAO" class="br.ufc.TrabalhoFBD.DAO.impl.GrupoDAOImpl" />
 <bean id="mensagemGDAO" class="br.ufc.TrabalhoFBD.DAO.impl.MensagemGrupoDAOImpl" />
 <bean id="enderecoDAO" class="br.ufc.TrabalhoFBD.DAO.impl.EnderecoDAOImpl" />
 
	<bean id="mysqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/trabalho_fbd" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean> 
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- gerenciamento de jpa pelo spring -->
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="mysqlDataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<!-- gerenciamento da transação pelo spring -->
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
		
	<tx:annotation-driven />

</beans>
